@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    
</head>
<body>
    <div class="flex-container">
        <h1 style="color: black;">Welcome to Contact Manager</h1>
    </div>
</div>
</body>